body {
}

.header {
    height: 70px;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: green;
    color: white;
    font-family: Helvetica;
    overflow-x: hidden;
    padding-left: 20px;
    padding-top:10px;
    font-size: 25px;
}

.header h1 {
    vertical-align: center;
    margin: 0px;
    padding: 0px;
}
.header h1 .date {
    font-size: 20px;
    margin-left: 20px;
}

.navigation {
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 80px; /* same as header height*/
    left: 0;
    font-family: Helvetica;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 20px;
    margin: 0px;
}

.navigation a {
    padding: 3px 4px 3px 8px;
    text-decoration: none;
    color: white;
    display: block;
}

.navigation ul {
    list-style-type: none;
    font-size: 20px;
    margin: 0px;
    padding: 0px;
    margin-bottom: 20px;
}

.navigation ul ul {
    list-style-type: none;
    font-size: 15px;
    margin-left: 7px;
    padding: 0px;
}

.navigation a:hover {
    color: black;
    background: #f1f1f1;
}

.step_passed {
    background: white;
    padding: 0px;
    padding-left: 10px;
    font-size: 15px;
}

.step_failed {
    background: red;
    padding: 0px;
    padding-left: 10px;
    font-size: 15px;
}

.step_failed .error {
    display: none;
    background: bisque;
    padding: 0px;
    padding-left: 10px;
    font-size: 15px;
}

.step_skipped {
    background: white;
    color: darkgray;
    padding: 0px;
    padding-left: 10px;
    font-size: 15px;
}

.collapsible_error {
    font-size: 15px;
    background-color: red;
    color: white;
    cursor: pointer;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    margin: 0px;
    padding: 3px;
}

.content {
    left: 200px; /* Same as the width of the navigation */
    top: 80px; /* same as header height + padding*/
    font-size: 20px;
    font-family: sans-serif;
    background: white;
    color: black;
    padding-top: 0px;
    position: fixed;
    height: calc(100% - 85px);
    overflow-x: hidden;
    width: calc(100% - 200px);
}

.feature {
    padding-bottom: 40px;
    border-style: solid;
    border-width: 1px;
    margin: 0px;
}

.feature h2 {
    background: white;
    padding: 10px;
    margin: 0px;
}


.scenario h3 {
    padding-bottom: 0px;
    margin-bottom: 20px;
}

.scenario h3 .tag {
    font-size: 12px;
    font-weight: normal;
    padding: 2px;
    border-color: black;
    border-style: solid;
    border-radius: 5px;
    border-width: 1px;
    background: lightgray;
    color: black;
    margin-left: 10px;
}

.scenario {
    padding-bottom: 40px;
    padding-left: 10px;
    background: white;
}

.scenario_failed {
    margin-bottom: 40px;
    padding-left: 10px;
    background: white;
}

.scenario_failed .statistics {
    font-size: 12px;
    font-weight: normal;
    padding: 2px;
    border-color: black;
    border-style: solid;
    border-radius: 5px;
    border-width: 1px;
    background: red;
    color: white;
    margin-left: 80px;
}

.scenario .statistics {
    font-size: 12px;
    font-weight: normal;
    padding: 2px;
    border-color: black;
    border-style: solid;
    border-radius: 5px;
    border-width: 1px;
    background: green;
    color: white;
    margin-left: 80px;
}

.keyword {
    font-weight: bold;
}

.domainword {
    font-style: italic;
}

p {
    margin: 0px;
    padding: 3px;
}

.overview {
    font-size: 12px;
    color: white;
    margin-bottom: 30px;
    margin-left: 10px;
}

.pieContainer {
    left: 110px;
    top: 110px;
    height: 60px;
    position: fixed;
}

.pieBackground {
    position: absolute;
    width: 60px;
    height: 60px;
    border-radius: 100%;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
    background-color: green;
}

.pie {
    transition: all 1s;
    position: absolute;
    width: 60px;
    height: 60px;
    border-radius: 100%;
    clip: rect(0px, 30px, 60px, 0px);
}

.hold {
    position: absolute;
    width: 60px;
    height: 60px;
    border-radius: 100%;
    clip: rect(0px, 60px, 60px, 30px);
}

.innerCircle {
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: #111;
    border-radius: 100%;
    top: 20px;
    left: 20px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.5) inset;
}
